# FedEx credentials
FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
FEDEX_ACCOUNT_NUMBER=

# UPS credentials
UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
UPS_ACCOUNT_NUMBER=

# DHL credentials
DHL_SITE_ID=
DHL_PASSWORD=
DHL_ACCOUNT_NUMBER=

# Aramex credentials
ARAMEX_USERNAME=
ARAMEX_PASSWORD=
ARAMEX_ACCOUNT_NUMBER=
ARAMEX_ACCOUNT_PIN=
ARAMEX_ACCOUNT_ENTITY=
